@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto Mono Regular";
  font-style: "normal";
  font-weight: 400;
  src: local(""), url("/fonts/RobotoMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono Light";
  font-style: "normal";
  font-weight: 300;
  src: local(""), url("/fonts/RobotoMono-Light.ttf") format("truetype");
}

@layer base {
  input {
    @apply
      px-2
      w-full
      dark:text-white
      bg-transparent
  }

  button {
    @apply
      rounded

      dark:text-white

      bg-stone-200
      dark:bg-stone-800

      hover:bg-stone-300
      hover:dark:bg-stone-700
  }
}